---
import type { Experience } from '../types/experience'
import Dot from './details/Dot.astro'

interface Props {
  experience: Experience
  side: string
}
const { experience, side } = Astro.props
---

<section class={side}>
  <Dot />
  <div class='center col scrolling'></div>
  <div class='text col fade-in'>
    <h2>{experience.company}</h2>
    <h3>{experience.position}</h3>
    <h3>{experience.location}</h3>
    <h4>
      {experience.start} - {experience.end}
    </h4>
  </div>
  <div class='projects col fade-in'>
    <ul>
      {
        experience.projects.map((project) => (
          <li>
            <h3>{project.title}</h3>
            <ul>
              {project.tasks.map((task) => (
                <li>{task}</li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<style>
  section {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'left center right';
    align-items: center;
    justify-content: center;
  }
  .left {
    .text {
      justify-self: end;
      grid-area: left;
      align-items: flex-end;
    }
    .projects {
      grid-area: right;
    }
  }
  .right {
    .projects {
      grid-area: left;
    }
    .text {
      justify-self: start;
      align-items: flex-start;
      grid-area: right;
    }
  }

  .text,
  .projects {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition:
      transform 0.2s,
      box-shadow 0.2s;
  }
  .text:hover,
  .projects:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .text {
    width: fit-content;
    gap: 0.2em;
  }
  .projects {
    h3 {
      margin-bottom: 1rem;
    }
    li {
      margin-left: 1rem;
    }
    ul {
      padding-left: 0.5rem;
      list-style-type: '=>';
      li {
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        ul {
          list-style-type: '}';
        }
      }
    }
  }
  .center {
    justify-self: center;
    grid-area: center;
    background-image: linear-gradient(transparent, var(--highlight), transparent);
    width: 0.2rem;
    height: 100%;
  }
  @media only screen and (max-width: 600px) {
    .center {
      background-image: linear-gradient(to right, transparent, var(--highlight), transparent);
      width: 100%;
      height: 0.2rem;
    }
    .left,
    .right {
      padding-top: 1rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      .text {
        width: 100%;
        align-items: flex-start;
      }
    }
    .projects {
      width: 100%;
    }
  }
</style>
